@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/iranyekan_regular.eot');
    src: url('../../fonts/iranyekan_regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/iranyekan_regular.woff') format('woff'), url('../../fonts/iranyekan_regular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/iranyekan_bold.eot');
    src: url('../../fonts/iranyekan_bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/iranyekan_bold.woff') format('woff'), url('../../fonts/iranyekan_bold.ttf') format('truetype');
}
@font-face {
    font-family: myfont;
    font-style: normal;
    src: url('../../fonts/38d4b5f.woff2');
    src: url('../../fonts/a5080d9.ttf'), url('../../fonts/d4bb655.woff') format('woff');
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: myfont !important;
}