

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1036px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 870px) {

}

@media only screen and (max-width: 800px) {
    .logo {
        width: 35% !important;
    }

    .ms_search {
        margin-right: -20px;
        width: 100%;
    }

    .one {
        margin-right: -25px;
    }

    .header-li {
    }

    .a-li {
        font-size: 12px !important;
    }

    .bih__image_box {
        height: 300px !important;
    }
}
@media only screen and (max-width: 752px) {
    #header{
        height: 170px !important;
    }
    .menu_search{
        margin-top: 60px !important;
    }
    .dropdown-user{
        left: 5;
        margin-top: 12px;
    }
}
@media only screen and (max-width: 750px) {

    .logo {
        width: 155% !important;
    }

    .ul-li {
        display: none !important;
    }
    .menu_search{
        position: absolute;
        right: 30;
        margin-top: 40px;
        z-index: 4;
        width: 70%;
    }
    .bih__image_box {
        width: 90% !important;
        height: 150px !important;
    }

    .bih_vector_separator {
        width: 22% !important;
    }
}

@media only screen and (max-width: 650px) {
    .bih__image_box {
        width: 90% !important;
        height: 230px !important;
    }
}

@media only screen and (max-width: 600px) {
    .bih__image_box {
        width: 90% !important;
        height: 250px !important;
    }

    .bih__category_box {
        display: block !important;
        text-align: center;
    }

    .span-box {
        display: block !important;
        width: 100% !important;
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 400px) {
    .bih__image_box {
        width: 95% !important;
        height: 200px !important;
    }
}

@media only screen and (max-width: 321px) {
}
