body {
    margin: 0;
    background-color: #eeeeee;
    font-family: 'iranyekan';
    position: relative !important;
    z-index: 5;
    overflow-x: hidden;
    outline: none;
}

.container {
    max-width: 1300px;
}
.z-index-un{
    z-index: -1 !important;
}
#img-top {
    margin-right: 2%;
    margin-top: 2%;
    width: 100%;
}

.form-page {
    background-color: #3f3f3f;
    border-radius: 2px;
    bottom: 0;
    clear: both;
    font-size: 0.8em;
    position: relative;
    padding: 3%;
    width: 100%;
    color: white;
    margin: 4% auto 0px auto;
}

.col-xl-9 {
    padding: 0px !important;
}

footer {
    bottom: 0;
    clear: both;
    position: relative;
}

nav {
    margin-top: 1.5%;
    height: 35px;
    padding-bottom: 0px;
    border-bottom: 4px solid #38404d;
}

.form-control {
    width: 100% !important;
}

.div-icon {
    width: 100%;
    margin-top: -8px;
    color: white;
    text-align: center;
}

.form-search {
    text-align: right;
    width: 20%;
    margin-top: -12px;
}

.icon-messenger {
    width: 30px;
    margin-left: 3%;
}

.ul-nav {
    display: flex;
    width: 50%;
    list-style-type: none;
    z-index: 10;
}

.ul-nav-hide {
    display: none;
    animation-name: example;
    animation-duration: 40ms;
    background-color: #022266;
    color: white !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    overflow-y: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    min-height: 100%;
    list-style-type: none;
    z-index: 20 !important;
    padding: 0;
}

.li-hide {
    align-items: center;
    width: 100% !important;
    padding: 1.5%;
    border-top: 1px solid white;
}

.a-li-hide {
    color: white !important;
    font-size: 15px !important;
}

@keyframes example {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}


li a {
    z-index: 10;
    font-size: 17px;
    color: #38404d;
    text-align: center;
    padding: 14px 23px 0px;
    text-decoration: none;
}

li a:hover {
    color: black;
}

.top-header {
    width: 100%;
    clear: top;
    height: 30px;
}

.top-user {
    color: white;
    padding-top: 4px;
    position: relative;
    float: left !important;
}


.menu-logo {
    display: none;
}

#img-circular {
    margin: 5% auto 0 auto;
    text-align: center;
    width: 600px;
}


.content-right {
    margin-top: 40px;
    justify-content: center;
}

.content-center {
    margin-top: 1.5%;
    margin-right: -110px;
    justify-content: center;
}

.content-left {
    margin-top: 60px;
    margin-right: -100px;
    text-align: right !important;
}

.item-content-right {
    cursor: pointer;
    width: 305px;
    height: 62px;
    background-image: url("../image/item.png");
    background-size: cover;
    margin-bottom: 1%;
    transition: 0.5s;
}

.item-content-right:hover {
    width: 340px;
    height: 70px;
}

.item-content-left {
    cursor: pointer;
    margin-bottom: 3.5%;
    width: 100%;
    transition: 0.5s;
}

.text-content-left:hover {
    color: #0f5132;
}

.img-content-left {
    display: inline-block !important;
    width: 70px;
}

.text-content-right {
    padding-top: 5.75%;
    padding-right: 8%;
    width: 100%;
    color: white;
    font-size: 19px;
}

.text-content-left {
    display: inline-block !important;
    z-index: 8;
    color: #4e776c;
    margin-right: 2%;
}

.icon-footer-center {
    width: 120px;
    padding-top: 3%;
    padding-left: 6%;
}

.icon-footer-corner {
    width: 80px;
}

.text-footer-corner {
    color: #4e776c;
    text-align: center;
}

.img-blog {
    display: block;
    width: 50%;
    height: 350px;
    object-fit: cover !important;
    margin: 2px auto 50px auto;
    border-radius: 30px;
}
.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.text-comment {
    font-size: 14px;
    padding: 0px 2% 2% 2%;
}

#footer {
    background-color: #334155;
    position: relative;
    margin-top: 5%;
    clear: bottom;
    width: 100%;
    height: 300px;

}

.end-footer {
    background-color: #1F293B;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    font-size: 12px;
}

.div-end-footer {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.h-footer {
    font-weight: bold;
}

.p-footer {
    text-align: justify;
    font-size: 15px;
}

.valError {
    color: red;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: 13px;
}

.captcha {
    border: 1px solid #cff4fc;
    margin: 0px auto 0px auto;
    padding: 2%;
    border-radius: 8px;
    width: 100%;
    background-color: #fafafa;
}

.img-captcha {
    margin-bottom: 10px;
}

.dash-col1 {
    padding: 3%;
    background-color: white;
    border-radius: 6px;
}

.dash-col2 {
    padding: 3%;
    background-color: white;
    border-radius: 6px;
}

.dash-li {
    margin-bottom: 2.5%;
    margin-right: -55px;
    padding: 2%;
    list-style: none;
}
.dash-a{
    font-size: 15px;
}
.dash-user{
    background-image: url("../image/dash-back.png");
    background-color: #d9edf7;
    text-align: center;
    align-items: center;
    padding: 20%;
}
body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    box-shadow: unset;
}

body::-webkit-scrollbar-thumb {
    background-color: #009688;
    outline: 0;
}

a {
    text-decoration: unset;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: unset;
    color: #000000;
}

.header-li {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: transparent;
    outline: 0;
    box-shadow: unset;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

#header {
    background-color: #020558;
    background-image: url(../image/header-pattern.png);
    background-position: center;
    color: #eee;
    user-select: none;
    animation: animatedBackground 60s linear infinite;
    -webkit-transform: translateZ(0);
    -webkit-animation-name: animatedBackground;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.01s;
}

@keyframes animatedBackground {
    0% {
        background-position: 100% bottom;
    }
    100% {
        background-position: 0 bottom;
    }
}

.main_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
}

.sw100 {
    width: 100%;
}

.logo {
    width: 30%;
}

.ul-li {
    width: 100% !important;
    margin-right: 0px !important;
}

.a-li {
    font-size: 16px !important;
}

#header .logo > img {
    width: 310px;
    height: auto;
}

#header .menu_row {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .menu_row > .menu > ul {
    display: flex;
    justify-content: flex-start;
}

#header .menu_row > .menu > ul > li > a {
    color: #ffffff;
    font-size: 14px;
    padding: 0;
    margin-left: 30px;
}
.search-user{
    width: 100%;
    display: flex;
}
.user-box{
    display: flex !important;
    width: auto;
    float: left;
    color: white;
}
.menu_search {
    width: 50%;
    float: right;
    margin-right: 4%;
    margin-top: 2%;
    position: relative;
}

.ms_search {
    width: 100%;
    position: relative;
}

.ms_search_icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ffffff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.user-header{
    float: left;
    margin-top: 2%;
    width: 50%;

}
.dropdown-user{
    display: none;
    position: absolute;
    margin-top: 2.5%;
    background-color: white;
    width: 160px;
    padding: 16px;
    border-radius: 7px;
}
.top-user:hover .dropdown-user{
    display: block !important;
}
.name-user-header {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.user-a{
    display: block;
    font-size: 13px;
    margin-bottom: 12px;
}

.name-user-header:hover{
    color: #cff4fc;
}
.ms_search  .ms_search_input {
    width: 100%;
    height: 40px;
    padding-left: 6px;
    background: rgba(255, 255, 255, 0.12);
    border: unset;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    padding-right: 40px;
}
.ms_search .ms_search_input::placeholder {
    color: #ffffff;
}

.ms_search .ms_search_input:focus {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    outline: none;
}

.PG404 {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.PG404 .GifNotFound {
    width: 400px;
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PG404 h6 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
}

.PG404 h4 {
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
}

.PG404 .ArabicQuote {
    font-family: 'QuranTaha' !important;
    margin-top: 60px;
    font-weight: bold;
    font-size: 22px;
    text-align: justify;
    text-align-last: center;
}

.blog_id_holder {
    width: 100%;
    background-color: #ffffff;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog_id_holder .bih__image_box {
    width: 75%;
    height: 500px;
}

.blog_id_holder .bih__image_box > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.blog_id_holder .bih_vector_separator {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    margin: 34px 0;
}

.blog_id_holder .bih__title_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blog_id_holder .bih__title_box > h6 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.blog_id_holder .bih__body_box {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: justify;
    color: #707070;
    font-size: 16px;
    line-height: 34px;
}

.blog_id_holder .bih__body_box li {
    list-style: disc;
}

.blog_id_holder .bih_vector_end {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blog_id_holder .bih_vector_end > span {
    width: 100%;
    height: 1px;
    background-color: #45a4ad;
    position: absolute;
}

.blog_id_holder .bih_vector_end > img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.blog_id_holder .bih__category_box {
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.blog_id_holder .bih__category_box > span {
    margin-left: 20px;
    font-size: 12px;
    color: #6c6c6c;
}
.card-footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}
.card-deck {
    width: 100%;
    text-decoration: none;
    color: black;
}
.blog{
    width: 100%;
    height: 175px;
    display: block;
    border-bottom: 1px solid #75C7C3;

}
.pic-div-blog{
    display:block;
    padding: 1%;
}
.pic-blog{
    width: 100%;
    height: 150px;
    border-radius: 0px;
    object-fit:cover;
}
.loader-div{
    display: none;
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.tx-card-2{
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    margin: 400px auto 0px auto;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.col-course{
    background-color: white;
    padding: 2% !important;
}
.course-title{
    text-align: center;
    margin-top: 6%;
    font-weight: bold;
}
.div-img-course{
    width: 80%;
    margin: 0px auto 0px auto;
    height: 400px;
}
.img-course{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.col-des-course{
    margin-right: 10px;
    height: 60%;
    border-radius: 10px;
    background-color: oldlace;
    font-size: 14px;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 1600px) {
    li a {
        font-size: 17px;
        padding: 14px 19px;
    }
}

@media only screen and (max-width: 1400px) {
    nav {
        height: 30px;
    }

    .ms_search {
        margin-right: -30px !important;
        width: 100%;
    }
    .form-control {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {
    li a {
        font-size: 13px;
    }

    .form-control {
        font-size: 12px;
        margin-top: 3px;
    }

    .content-right {
        margin-top: 40px;
        margin-right: 30px;
        justify-content: center;
    }

    .content-center {
        margin-top: 1.5%;
        margin-right: -230px;
        justify-content: center;
    }

    .content-left {
        margin-top: 10%;
        margin-right: 0px !important;
        text-align: center;
    }

    .item-content-left {
        display: inline-block !important;
        margin-right: 0px !important;
        text-align: right;
        width: 33% !important;
    }

    .icon-footer-center {
        width: 90px;
    }

    .icon-footer-corner {
        width: 60px;
    }
}

@media only screen and (max-width: 1036px) {
    .content-left {
        margin-bottom: 70px;
    }
    .ms_search {
        margin-right: -30px;
        width: 100%;
    }

    .bih__image_box {
        height: 350px !important;
    }
    .content-center {
        margin-top: 1%;
    }

    #img-circular {
        width: 550px;
    }

    .item-content-right {
        width: 270px;
        height: 55px;
    }

    .text-content-right {
        font-size: 16px;
    }

    .item-content-left {
        width: 32% !important;
    }

    .img-content-left {
        width: 60px;
    }

    .text-content-left {
        font-size: 14px;
    }

    .item-content-right:hover {
        width: 310px;
        height: 64px;
    }
}

@media only screen and (max-width: 960px) {
    li a {
        font-size: 12px;
    }

    .ul-nav {
        width: 60%;
    }

    .icon-messenger {
        width: 20px;
        margin-top: 3%;
        margin-left: 3%;
    }

    #img-circular {
        width: 500px;
    }

    .content-right {
        margin-left: 20px;
        margin-right: 20px;
    }

    .item-content-right {
        width: 250px;
        height: 51px;
    }

    .text-content-right {
        font-size: 14px;
    }

    .item-content-right:hover {
        width: 250px;
        height: 51px;
    }
}

@media only screen and (max-width: 870px) {
    li a {
        font-size: 10px;
    }

    .form-search {
        margin-top: -10px;
    }

    .input-search {
        font-size: 10px;
    }

    .icon-messenger {
        width: 18px;
        margin-top: 4%;
    }

    .content-center {
        margin-top: 2% !important;
        margin-right: -170px !important;
        justify-content: center;
    }

    #img-circular {
        width: 420px;
    }

    .item-content-right {
        width: 210px;
        height: 43px;
    }

    .text-content-right {
        font-size: 12px;
    }

    .img-content-left {
        width: 40px;
    }

    .text-content-left {
        font-size: 12px;
    }

    .item-content-right:hover {
        width: 210px;
        height: 43px;
    }

    .icon-footer-center {
        width: 70px;
    }

    .icon-footer-corner {
        width: 45px;
    }

    .text-footer-corner {
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .content-center {
        margin-top: 1.75%;
        margin-right: -190px;
        justify-content: center;
    }
    .logo {
        width: 35% !important;
    }

    .ms_search {
        margin-right: -20px;
        width: 100%;
    }

    .one {
        margin-right: -25px;
    }

    .header-li {
    }

    .a-li {
        font-size: 12px !important;
    }

    .bih__image_box {
        height: 300px !important;
    }
}

@media only screen and (max-width: 752px) {
    nav {
        height: 60px;
    }
    .pic-blog{
        width: 110%;
        height: 100px;
        object-fit:cover;
    }
    .pic-blog{
        margin : 8px auto auto -4px;
    }
    .card-title{
        font-size: 14px;
    }
    .text-muted{
        font-size: 10px;
    }
    .tx-card-1{
        display: none;
    }
    .tx-card-2{
        display: block;
        font-size: 12px;
    }
    .blog{
        height: 140px;
    }

    #header {
        height: 170px !important;
    }
    .logo {
        width: 155% !important;
    }

    .menu_search{
        position: absolute;
        right: 30;
        margin-top: 60px !important;
        z-index: 4;
        width: 70%;
    }

    .dropdown-user {
        left: 5;
        margin-top: 12px;
    }

    .first-li {
        margin-right: -2px;
    }

    .content-center {
        margin-right: 0px !important;
    }

    .ul-nav {
        display: none;
    }

    .top-user {
        position: absolute;
        left: 15;
        top: 30;
    }

    .form-search {
        display: none;
    }

    .div-icon {
        order: 1;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 18px;
        width: 50%;
    }

    .icon-messenger {
        width: 13% !important;
        margin-top: -3px !important;
        margin-left: 6% !important;
    }

    .menu-logo {
        position: absolute;
        margin-top: 155px;
        left: 30;
        display: block;
        text-align: center;
        width: 25px;
    }

    .content-right {
        order: 2;
        margin-top: 40px;
        width: 100%;
        margin-right: 0px !important;
        margin-left: 0px !important;
        text-align: center;
    }

    .img-blog {
        width: 98%;
    }

    .content-center {
        order: 1;
        margin-top: 1.5%;
        margin-right: 0px;
        text-align: center;
    }

    .content-left {
        order: 3;
        margin-top: 60px;
        margin-right: -100px;
        justify-content: center;
    }

    .item-content-right {
        width: 210px;
        height: 43px;
        text-align: right;
        display: inline-block !important;
        margin-right: auto !important;
        margin-left: 0px !important;
        margin-bottom: 2%;
    }

    .text-content-right {
        font-size: 13px;
    }

    #footer {
        background-color: #334155;
        position: relative;
        margin-top: 5%;
        clear: bottom;
        width: 100%;
        height: 600px;
    }

    .end-footer {
        background-color: #1F293B;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        font-size: 12px;
    }

    .div-end-footer {
        width: 100%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .h-footer {
        font-size: 16px;
    }

    .p-footer {
        text-align: justify;
        font-size: 14px;
    }

    .ul-li {
        display: none !important;
    }

    .bih__image_box {
        width: 90% !important;
        height: 150px !important;
    }

    .bih_vector_separator {
        width: 22% !important;
    }
}
@media only screen and (max-width: 600px) {
    nav {
        height: 50px;
    }
    .img-blog {
        border-radius: 10px;
        margin-top: 7%;
        width: 100%;
        height: 270px;
    }

    .content-center {
        margin-right: 0px !important;
    }

    .ellipsis {
        height: 158px
    }

    .content-left {
        margin-bottom: 0px;
    }

    .div-icon {
        margin-top: 15px;
    }

    .icon-messenger {
        width: 5px;
        margin-left: 4px !important;
    }

    .img-menu-logo {
        margin-left: 6px;
        margin-top: 12px;
    }

    #img-circular {
        width: 100%;
    }

    .item-content-right {
        width: 185px;
        height: 38px;
        text-align: right;
        display: inline-block !important;
        margin-right: auto !important;
        margin-left: 0px !important;
    }

    .text-content-right {
        font-size: 12px;
    }

    .item-content-right:hover {
        width: 185px;
        height: 38px;
    }

    .img-content-left {
        width: 35px;
    }

    .item-content-left {
        width: 49% !important;
    }
    .bih__image_box {
        width: 90% !important;
        height: 250px !important;
    }

    .bih__category_box {
        display: block !important;
        text-align: center;
    }

    .span-box {
        display: block !important;
        width: 100% !important;
        margin-bottom: 1%;
    }
    .icon-footer-center {
        width: 50px;
        padding-top: 3%;
        padding-left: 6%;
    }

    .icon-footer-corner {
        width: 40px;
    }

    .text-footer-corner {
        color: #4e776c;
        text-align: center;
        font-size: 7px;
    }
}

@media only screen and (max-width: 400px) {
    nav {
        height: 40px;
    }

    .div-icon {
        margin-top: 10px;
    }

    .img-menu-logo {
        width: 20px !important;
        height: 20px !important;
        margin-top: 10px;
    }

    .item-content-right {
        width: 165px;
        height: 34px;
        text-align: right;
        display: inline-block !important;
        margin-right: auto !important;
        margin-left: 0px !important;
    }

    .text-content-right {
        font-size: 11px;
    }

    .img-content-left {
        width: 30px;
    }

    .text-content-left {
        font-size: 11px;
    }

    .icon-footer-center {
        width: 40px;
        padding-top: 3%;
        padding-left: 6%;
    }

    .icon-footer-corner {
        width: 30px;
    }

    .item-content-right:hover {
        width: 165px;
        height: 34px;
    }
    .bih__image_box {
        width: 95% !important;
        height: 200px !important;
    }
}

@media only screen and (max-width: 321px) {
    .item-content-left {
        width: 100% !important;
    }

    .icon-messenger {
        width: 12px;
    }

    .img-menu-logo {
        width: 15px !important;
        height: 15px !important;
        margin-top: 15px;
    }
}
